[submodule "threadx"]
	path = threadx
	url = https://github.com/azure-rtos/threadx
[submodule "mt3620_m4_software"]
	path = mt3620_m4_software
	url = https://github.com/MediaTek-Labs/mt3620_m4_software.git
